<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAnalyzer" />
                <binding name="BasicHttpBinding_IAnalyzerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9999/AnalyzerService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAnalyzerService" contract="OPAnalyzerHost.IAnalyzerService"
                name="BasicHttpBinding_IAnalyzerService" />
        </client>
    </system.serviceModel>
</configuration>